<div fxLayout="column" class="search-page">
  <div class="title">Github People Search v.0.1</div>
  <input class="search" fxFlex="1 1 auto" type="text" [formControl]="searchField" placeholder="Search...">
  <div fxFlex="1 0 70%" fxLayoutGap="5px" fxLayout="column" class="resultsContainer"
       *ngIf="res$ | async as searchResult">
    <div class="paging" *ngIf="searchResult.pagination.links as paging" fxLayout="row" fxLayoutGap="10px">

      <button mat-button (click)="update(paging, 'first')" [ngClass]="{enabled: isAvailable(paging, 'first')}">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-button (click)="update(paging, 'prev')" [ngClass]="{enabled: isAvailable(paging, 'prev')}">Prev
      </button>

      <div class="total">{{searchResult.pagination.currentPage}}</div>

      <button mat-button (click)="update(paging, 'next')" [ngClass]="{enabled: isAvailable(paging, 'next')}">Next
      </button>

      <button mat-button (click)="update(paging, 'last')" [ngClass]="{enabled: isAvailable(paging, 'last')}">
        <mat-icon>last_page</mat-icon>
      </button>
      <div class="total">Total: {{searchResult?.total_count}}</div>
    </div>
    <div class="cards" fxLayout="row wrap"
         fxLayout.lt-md="column"
         fxLayoutAlign.lt-md="center center"
         fxLayoutAlign="space-between">
      <mat-card *ngFor="let item of searchResult.items" class="gh-profile" @fadeIn
                [ngClass]="{pending:pendingDetailsProfileIds.includes(item.id), detailed: userDetails[item.id] !== undefined}">
        <mat-card-header>
          <img mat-card-avatar src="{{item.avatar_url}}"/>
          <mat-card-title>{{userDetails[item.id]?.name}}</mat-card-title>
          <mat-card-subtitle>{{item.login}}</mat-card-subtitle>
          <button (click)="getDetails(item)" *ngIf="!userDetails[item.id]" class="refresh" mat-icon-button>
            <mat-icon>refresh</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <mat-progress-spinner class="spinner" diameter="50" *ngIf="pendingDetailsProfileIds.includes(item.id)"
                                mode="indeterminate">
          </mat-progress-spinner>
          <div *ngIf="userDetails[item.id] as details" fxLayout="column" fxLayoutGap="5px">
            <div>{{details.bio}}</div>
            <div class="detailed" *ngIf="details?.company as company">
              <mat-icon>work</mat-icon>
              <span>{{company}}</span>
            </div>
            <div class="detailed" *ngIf="details?.location as location">
              <mat-icon>location_on</mat-icon>
              <span>{{location}}</span>
            </div>
            <div class="detailed">
              <mat-icon>people</mat-icon>
              <span>{{details.followers}} followers</span>
            </div>
            <div class="detailed">
              <mat-icon>people_outline</mat-icon>
              <span>{{details.following}} following</span>
            </div>
            <div class="detailed" *ngIf="details.hireable else notHireable">
              <mat-icon>attach_money</mat-icon>
              <span>Hireable</span>
            </div>
            <ng-template #notHireable>
              <div class="detailed">
                <mat-icon>money_off</mat-icon>
                <span>Not hireable</span>
              </div>
            </ng-template>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="navigate(item.html_url)">
            <mat-icon aria-label="github icon" svgIcon="github"></mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
