<div fxLayout="column" class="search-page">
  <input class="search" fxFlex="1 1 auto" type="text" [formControl]="searchField" placeholder="Search...">
  <div fxFlex="1 0 70%" fxLayoutGap="5px" fxLayout="column" class="resultsContainer"
       *ngIf="res$ | async as searchResult">
    <div class="paging" *ngIf="searchResult.pagination.links as paging" fxLayout="row" fxLayoutGap="10px">

      <button mat-button (click)="update(paging, 'first')" [ngClass]="{enabled: isAvailable(paging, 'first')}">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-button (click)="update(paging, 'prev')" [ngClass]="{enabled: isAvailable(paging, 'prev')}">Prev
      </button>

      <div class="total">{{searchResult.pagination.currentPage}}</div>

      <button mat-button (click)="update(paging, 'next')" [ngClass]="{enabled: isAvailable(paging, 'next')}">Next
      </button>

      <button mat-button (click)="update(paging, 'last')" [ngClass]="{enabled: isAvailable(paging, 'last')}">
        <mat-icon>last_page</mat-icon>
      </button>
      <div class="total">Total: {{searchResult?.total_count}}</div>
    </div>
    <div class="cards" fxLayout="row wrap" fxLayoutAlign="space-between">
      <mat-card *ngFor="let item of searchResult.items" class="gh-profile" @fadeIn>
        <mat-card-header>
          <img mat-card-avatar src="{{item.avatar_url}}"/>
          <mat-card-title>{{item.login}}</mat-card-title>
        </mat-card-header>
        <!--<mat-card-content>-->

        <!--</mat-card-content>-->
        <mat-card-actions>
          <button mat-button>View Github Profile</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
